#main {
  display: grid;
  justify-content: center;
  margin: 2em;
  grid-gap: 2em;
  grid-template-areas: 'graph results'
                       'input results';

  #graph-plate {
    grid-area: graph;
  }

  #input-plate {
    grid-area: input;
  }

  #results-plate {
    grid-area: results;
  }
}