@import '../abstracts/mixins';

#header {
  @include main-font;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 64em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;

  > span {
    margin-left: 1em;
  }

  > div {
    display: flex;
    align-items: center;

    a {
      z-index: 1;
    }

    button {
      @include align-center;

      width: 2.5em;
      height: 2.5em;
      margin: 0.5em 1em 0.5em 0.5em;

      img {
        width: 1.5em;
        transition: var(--normal-transition);
        border-radius: 50%;
        filter: contrast(0.5);
      }
    }
  }
}

body.light #header {
  img:first-of-type {
    width: 2.5em;
    opacity: 1;
  }

  img:last-of-type {
    width: 0;
    opacity: 0;
  }
}

body.dark #header {
  img:first-of-type {
    width: 0;
    opacity: 0;
  }

  img:last-of-type {
    width: 2.5em;
    opacity: 1;
  }
}