@media screen and (max-width: 1080px) {
  #header {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  #header {
    max-width: 38em;
  }

  #main {
    grid-template-areas: 'graph'
                         'input'
                         'results';
  }
}

@media screen and (max-width: 470px) {
  #header {
    display: grid;
    grid-template-areas: 'span img';
  }
}