$clock-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.2),
2px 3px 8px 0 rgba(0, 0, 0, 0.2);

$background-color: #FFF;
$seconds-color: #FF4B3E;
$dot-color: #1B1B1B;

$fill-color: #0D6EFD;
$stroke-color: #000;
$dotted-line-color: #D02424;