@import '../abstracts/variables';
@import '../abstracts/mixins';

.convex-select {
  @include main-font;
  @include convex(5px, 20px);

  font-size: 14px;
  padding: 10px 12px;
  cursor: pointer;
  transition: var(--normal-transition);
  border: 0;
  border-radius: 40px;
  outline: 0;
  background-color: var(--background-color);

  background-image: linear-gradient(45deg, transparent 50%, var(--font-color) 50%),
  linear-gradient(135deg, var(--font-color) 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:invalid,
  &:required {
    @include convex(2px, 5px, true);
  }

  &:hover,
  &:focus {
    @include convex(2px, 5px);
  }

  &:active {
    @include concave(1px);
  }
}