@import '../abstracts/variables';
@import '../abstracts/mixins';

.concave-text {
  @include concave(2px, 5px);

  padding: 10px 12px;
  transition: var(--normal-transition);
  color: var(--font-color);
  border: 0;
  border-radius: 50px;
  outline: 0;
  background-color: var(--background-color);

  &:invalid,
  &:required {
    @include concave(2px, 5px, true);
  }

  &:focus {
    @include concave(1px);
  }
}

.concave-text::placeholder {
  @include main-font;

  font-size: 14px;
  color: var(--light-font-color);
}