$background-color: #EBECF0;
$light-color: #C2C8D1;
$wrong-value-color: #EC4C4C;
$row-color: #E1E1E7;
$fill-color: #3772FF;
$stroke-color: #000;
$dotted-line-color: #D02424;

$light-shadow: #FFF;
$dark-shadow: #BABECC;

$roboto-font: 'Roboto Regular', sans-serif;
$font-size: 16px;
$font-color: #4F5359;
$text-shadow: 1px 1px 1px $light-shadow;

$regular-font: 400;
$medium-font: 600;

$normal-transition: all 0.2s ease-in;
$fast-transition: all 0.1s ease-in-out;