body {
  --fill-color: #3772FF;
  --wrong-value-color: #EC4C4C;
  --crossing-color: #D02424;
  --crossing-green-color: #35d024;

  --roboto-font: 'Roboto Regular', sans-serif;
  --font-size: 16px;

  --regular-font: 400;
  --medium-font: 600;

  --normal-transition: all 0.2s ease-in;
  --fast-transition: all 0.1s ease-in-out;

  &.light {
    --background-color: #EBECF0;
    --light-color: #C2C8D1;
    --row-color: #E1E1E7;

    --stroke-color: #000;

    --light-shadow: #FFF;
    --dark-shadow: #A8ACB8;

    --font-color: #4F5359;
    --light-font-color: #757B83;
    --text-shadow: 1px 1px 1px var(--light-shadow);
  }

  &.dark {
    --background-color: #1A1B1F;
    --light-color: #323337;
    --row-color: #262629;

    --stroke-color: #D5D7D9;

    --light-shadow: #202126;
    --dark-shadow: #101013;

    --font-color: #BCBCBF;
    --light-font-color: #757B83;
    --text-shadow: 1px 1px 1px var(--dark-shadow);
  }
}