@import '../abstracts/mixins';

#input-plate {
  display: block;
  padding: 1em;
  text-align: center;

  select,
  input[type='text'] {
    width: 100%;
    margin-left: 10px;
  }

  #x-input,
  #y-input,
  #r-input {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label:first-child {
      z-index: 1;
    }
  }

  #clear-form-button {
    margin-right: 5px;
    margin-left: 5px;
  }
}