@import '../abstracts/variables';
@import '../abstracts/mixins';

.no-selection {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.clean-link {
  @include main-font;

  text-decoration: none;
  outline: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.convex-plate {
  @include convex(5px, 20px);

  border-radius: 32px;
  background-color: var(--background-color);
}

.wrong-plate {
  @include convex(5px, 20px, true);
}

.wrong-value {
  font-size: 12px;
  position: absolute;
  z-index: 1;
  color: var(--wrong-value-color);
}