#result {
  display: grid;
  justify-content: center;
  margin: 2em;
  grid-gap: 2em;
  grid-template-areas: 'graph'
                       'results';
}

#result-graph {
  @extend #graph-plate;
  padding: 2em;

  #graph-svg {
    height: 26em;
  }
}

#result-plate {
  position: relative;
  max-width: 34em;
  padding: 1em;
  text-align: center;

  > table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead, tbody {
      display: block;

      th, td {
        width: 10em;
        text-align: center;
      }
    }

    thead {
      font-weight: var(--medium-font);
      padding-bottom: 1em;
      text-align: center;
    }

    tbody {
      td {
        overflow: hidden;
        max-width: 10em;
        padding-top: 1em;
        text-overflow: ellipsis;
        border-top: 1px solid var(--light-color);
      }
    }
  }
}