@import '../abstracts/variables';

.clock {
  border: 5px solid white;
  border-radius: 100%;
  background: $background-color;
  box-shadow: $clock-shadow;
}

.wrap {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  z-index: 1;
  top: -28.6%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 100px;
  margin: auto;
  transform: rotate(0deg);
  transform-origin: bottom center;
  background: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.minute {
  position: absolute;
  top: -38%;
  left: 0;
  width: 4px;
  height: 130px;
  transform: rotate(90deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.second {
  position: absolute;
  z-index: 1;
  top: -26%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 90px;
  margin: auto;
  transform: rotate(180deg);
  transform-origin: bottom center;
  border-radius: 4px;
  background: $seconds-color;
}

.dot {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin: auto;
  border: 2px solid $dot-color;
  border-radius: 100px;
  background: $background-color;
}