.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.time {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  span:not(:last-child) {
    font-weight: 600;
    position: relative;
    margin: 0 2px;
    text-align: center;
    letter-spacing: 3px;
  }

  span:last-child {
    font-size: 60px;
    font-weight: 600;
    padding: 0 10px;
    text-transform: uppercase;
  }
}