@import '../abstracts/variables';
@import '../abstracts/mixins';

.convex-checkbox {
  width: 0;
  opacity: 0;

  + label {
    @include main-font;
    @include align-center;
    @include convex(5px, 20px);

    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: $normal-transition;
    border-radius: 50%;
    background-color: $background-color;
  }

  &:hover + label,
  &:focus + label {
    @include convex(2px, 5px);
  }

  &:invalid + label,
  &:required + label, {
    @include convex(5px, 20px, true);
  }

  &:checked + label {
    transition: $fast-transition;
    @include bend(2px, 5px, 5px);
  }
}